body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(14, 173, 221, 0.664);
  }
  main{
    /* border: 1px solid red;  */
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
  }
  form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    width: 320px;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    row-gap: 10px;
    box-shadow: 10px 10px 10px rgba(11, 128, 163, 0.664);
  }
  button{
    color:white;
    background-color: rgba(226, 10, 10, 0.685);
    border: none;
    padding: 14px;
    cursor: pointer;
    width: 285px;
    align-self: center;

  }
  .input{
    padding: 4px;
    border-color: rgba(187, 181, 181, 0.822)
  }
  .input:hover{
    background-color: rgb(219, 178, 117);
  }
  h1{
    justify-self: center;
  }
  #nev{
    padding-top: px;
  }
  .gomb:hover{
    letter-spacing: 0.65em;
    transform: translate(20px) rotate(360deg);
    color: red;
    background-color: rgba(145, 140, 140, 0.199);
  }
  /* form :hover{
   color: brown;
  
  } */
.gomb{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 13px;
  transition: 0.5s;
} 
#error {
  display: none;
  background-color: rgba(255, 230, 0, 0.274);
  color: rgb(122, 19, 19);
  font-size: 23px;
  transition: 0.8s;
  transform: rotate(360deg);
}
